body {
  padding: 30px;
  font-size: 18px;
  line-height: 1.5;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos para encabezados */
h1, h2, p {
  margin: 0;
  padding: 0;
}

h1 {
  color: #b80e65;
  font-size: 2.5em;
  transform: perspective(10deg);
  margin-left: 2em;
  margin-top: -0.5em;
  text-align:left
}

/* Estilos para el encabezado */
header {
  color: white;
  padding: 20px;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #585858;
  padding: 20px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  color: #ff1cc0;
  margin-right: 10px;
  font-size: 20px;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}


.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

/* Ajustes para la imagen del logo */
.navbar img {
  margin-right: 10px;
}

/* Estilos para secciones */
.seccion {
  margin-bottom: 50px;
}

/* Estilos para títulos */
.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 60px;
}

/* Estilos para contenedores de películas */
.peliculas-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

/* Estilos para tarjetas de películas */
.pelicula-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
}

/* Estilos para imágenes de películas */
.pelicula-imagen {
  width: 100%; 
  height: auto; 
  border-bottom: 1px solid #ccc; 
}

/* Estilos para información de películas */
.pelicula-info {
  padding: 20px;
}

/* Estilos para títulos de películas */
.pelicula-titulo {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

/* Estilos para géneros y directores de películas */
.pelicula-genero, .pelicula-director {
  margin: 0;
  font-size: 16px;
  color: #666;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
  border: 1px solid #b131fa;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  grid-column: span 2;
  margin-bottom: 2px;
}

label {
  display: block;
  margin-bottom: 5px;
  grid-column: 1 / 3;
}

button {
  background-color: #b131fa;
  color: #4a0074;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  grid-column: 1 / 3;
}

button:hover {
  background-color: #1c34ff;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos para el footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos para los enlaces del footer */
footer a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para los enlaces del footer al pasar el ratón por encima */
footer a:hover {
  text-decoration: underline;
}